{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voz Parkinson</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/00_base.css' %}">
	
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->

</head>
<body>
	<!-- <a href="javascript:history.back()"> Volver Atrás</a> -->

	<!-- <div style="position: relative;	left: 7px;	top: 1px;">
		<a href="{% url 'home' %}"> Inicio</i></a>
	</div> -->

	{% if request.resolver_match.view_name != "home" and request.resolver_match.view_name != "signin" %}

	<div class="row">
		<div class="col-12 text-right justify-right">
		<div class="d-flex justify-content-end">
			<form action="{% url 'signout' %}" method="post">
				{% csrf_token %}
				<input class="btn btn-danger btn-sm float-right m-2" type="submit" value="Cerrar Sesión">
			</form>
		</div>
		
		</div>
	</div>
	{% endif %}
	
    {% if request.resolver_match.view_name == "home" or request.resolver_match.view_name == "inicioEmpleado" or request.resolver_match.view_name == "signin" or request.resolver_match.view_name == "sucursales" or request.resolver_match.view_name == "sucursales_semanal" or request.resolver_match.view_name == "signup" %}
    <div class="container-fluid text-center mt-5">
        <h1>App Voz Parkinson</h1>
    </div>
	{% endif %}

	

	<!-- <div class="d-flex align-items-center"> -->
		<div class="content">
			<div class="d-flex align-items-center">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
	 <!-- </div> -->
	    
   <div id="footer">
	<footer class="footer text-faded text-center py-5 sticky-footer">
		<div class="container">
			<p class="m-0">
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</p>
			<p class="m-0 mbt">
				<a href="#" class="link">Política de privacidad</a> ·
				<a href="#" class="link">Permify </a> ·
			</p>
			<p class="m-0 mbt1">&copy; Proyecto 2023</p>
		</div>
	</footer>
  </div>
</body>

	<style>
		
  	/* Otros estilos para tu pie de página aquí */

	</style>
</html>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/[email protected]/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
