{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voz Parkinson</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->

</head>
<body>
	<!-- <a href="javascript:history.back()"> Volver Atrás</a> -->
	<div style="position: relative;	left: 7px;	top: 1px;">
		<a href="{% url 'home' %}"> Inicio</i></a>
	</div>
    <div class="container-fluid text-center">
        <h1>App Voz Parkinson</h1>
    </div>

	<!-- <div class="d-flex align-items-center"> -->
		<div class="content">
			<div class="d-flex align-items-center">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
	 <!-- </div> -->
	    
   
	<footer class="footer text-faded text-center py-5 fixed-bottom">
		<div class="container">
			<p class="m-0">
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="#" class="link">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</p>
			<p class="m-0 mbt">
				<a href="#" class="link">Política de privacidad</a> ·
				<a href="#" class="link">Permify </a> ·
			</p>
			<p class="m-0 mbt1">&copy; Proyecto 2023</p>
		</div>
	</footer>
	
</body>
</html>
<style>
	.content {
  height: 80vh;
}

</style>