{% extends 'base.html' %} {% block content %}

<div class="container text-center" id="lista">
  <div>
    <h2>Stock Diario</h2>
    <h5 class="mb-4">{{ sucursal }} - {{ user.username }}</h5>
  </div>

  <div class="container text-center">
    <table class="table-responsive text-center">
      <thead class="thead-dark">
        <tr>
          <th class="col-1">sku</th>
          <th class="col-4">medicamento</th>
          <th class="col-1 px-2">stockDiario</th>
          <th class="col-3 mr-2">Actualizado</th>
          <!-- <th>Actualizar</th> -->
        </tr>
      </thead>
      <tbody>
        <form method="post">
          {% for medicamento in medicamentos %}
          {% csrf_token %}
          <tr>
            <td>{{ medicamento.sku }}</td>
            <td>{{ medicamento.nombre_medicamento }}</td>
            <td>
              <input class="form-control text-center" type="text" name="stockDiario" id="valor" value="{{ medicamento.stockDiario }}">
            </td>
            <td>{{ medicamento.fecha_actu_stock }}</td>

          </tr>
          {% endfor %}
          <td><input type="submit"  value="Actualizar"></td>
        </form>
      </tbody>

    </table>
    <br>
  </div>

  

</div>


{% endblock %}