{% extends 'base.html' %} {% block content %}

    <div class="container text-center" id="lista">
      <div>
        <h3>Stock Diario</h3>
        <h4>{{ sucursal }}</h4>
        <h6>{{ user.username }}</h6>
      </div>
                
        <div class="container text-center">
                <table class="table-responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th class="col-3">sku</th>
                            <th class="col-3">medicamento</th>
                            <th class="col-2 px-2">stockDiario</th>
                            <th class="col-3">Actualizado</th>
                            <!-- <th>Actualizar</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for medicamento in medicamentos %}
                        <form action="{% url 'putDiario' %}" method="post">
                          {% csrf_token %}
                            <tr>
                                <td>{{ medicamento.sku }}</td>
                                <td>{{ medicamento.nombre_medicamento }}</td>
                                <td>
                                    <input class="form-control text-center" type="text" name="stockDiario_{{medicamento.id_medicamento}}" value="{{ medicamento.stockDiario }}">
                                    <input type="hidden" name="medicamento_id" value="{{medicamento.id_medicamento}}">
                                    <input type="hidden" name="sucursal" value="{{medicamento.sucursal}}">
                                    <input class="update-btn" type="submit" value="Actualizar">
                                </td>
                                <td>{{ medicamento.fecha_actu_stock }}</td>
                                <!-- <td><input type="submit" value="Actualizar"></td> -->                               

                            </tr>
                          </form>
                        {% endfor %}
                    </tbody>
                    
                </table>
              </div>
                <div>
                  <button id="update-all-btn" onclick="updateAll()">Actualizar Todo</button>
                </div>

    </div>

    <style>
        @media only screen and (max-width: 600px) {
        .btn-primary {
                width: 80%;
                margin-top: 10px;
            }
        }

        .update-btn {
        display: none;
        }

        #lista{
        margin-bottom: 30%;

        }
        h3{
        padding: 0;
        margin: 0;      
        }
        h4{
          margin-top: 0;
          padding: 0;
        } 



               
    </style>
    
<script>

function updateAll() {
  const updateBtns = document.querySelectorAll('.update-btn');
  let i = 0;

  function update() {
    if (i < updateBtns.length) {
      updateBtns[i].click();
      i++;
      setTimeout(update, 200);
    }
  }
  update();
}



  async function updateStock(medicamento_id, new_stock) {
      const url = `https://vozparkinson.pythonanywhere.com/apis/medicamento_full/${medicamento_id}/`;
      const data = {stockDiario: new_stock};
      try {
          const response = await fetch(url, {
              method: 'PUT',
              body: JSON.stringify(data),
              headers: {
                  'Content-Type': 'application/json'
              }
          });
          if (response.status === 200) {
              console.log('Stock actualizado.');
          } else {
              console.error('Error al actualizar el stock.');
          }
      } catch (error) {
          console.error(error);
      }
  }
</script>
    
    <!-- <script>
        function updateStock(event) {
  event.preventDefault();
  // Obtener valores de los campos del formulario
  const formData = new FormData(event.target);
  const id = formData.get('medicamento_id');
  const stockDiario = formData.get(`stockDiario_${id}`);
  console.log(stockDiario)

  // Enviar petición PUT a la API utilizando fetch
  fetch(`https://vozparkinson.pythonanywhere.com/apis/medicamento_full/${id}/`, {
    method: 'PUT',
    body: JSON.stringify({stockDiario: stockDiario}),
    headers: {
      'Content-Type': 'application/json'
    }
  })
  .then(response => {
    if (response.ok) {
      // Si la actualización fue exitosa, mostrar mensaje de éxito
      alert("Stock actualizado con éxito");
    } else {
      // Si hubo un error, mostrar mensaje de error
      alert("Error al actualizar el stock");
    }
  })
  .catch(error => {
    console.log(error);
  });
}

    </script> -->

    <!-- <script>
        import axios from 'axios'
        function updateStock() {
  // Obtener valores de los campos del formulario
  const formData = new FormData(event.target);
  const id = formData.get('medicamento_id');
  const stockDiario = formData.get(`stockDiario_${id}`);
  console.log(stockDiario)

  // Enviar petición PUT a la API utilizando axios
    axios.put(`https://vozparkinson.pythonanywhere.com/apis/medicamento_full/${id}/`, {
    stockDiario: stockDiario
  })
  .then(response => {
    if (response.status === 200) {
      // Si la actualización fue exitosa, mostrar mensaje de éxito
      alert("Stock actualizado con éxito");
    } else {
      // Si hubo un error, mostrar mensaje de error
      alert("Error al actualizar el stock");
    }
  })
  .catch(error => {
    console.log(error);
  });
}

    </script>
     -->
{% endblock %}