{% extends 'base.html' %} {% block content %}

    <div class="container text-center" id="lista">
      <div>
        <h2>Stock Semanal</h2>
        <h5 class="mb-4">{{ sucursal }} - {{ user.username }}</h5>        
      </div>
                
        <div class="container text-center">
                <table class="table-responsive text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th class="col-1">sku</th>
                            <th class="col-4">medicamento</th>
                            <th class="col-1 px-2">stockDiario</th>
                            <th class="col-3 mr-2" >Actualizado</th>
                            <!-- <th>Actualizar</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for medicamento in medicamentos %}
                        <form action="{% url 'putDiario' %}" method="post">
                          {% csrf_token %}
                            <tr>
                                <td>{{ medicamento.sku }}</td>
                                <td>{{ medicamento.nombre_medicamento }}</td>
                                <td>
                                    <input class="form-control text-center" type="text" name="stockDiario_{{medicamento.id_medicamento}}" value="{{ medicamento.stockDiario }}">
                                    <input type="hidden" name="medicamento_id" value="{{medicamento.id_medicamento}}">
                                    <input type="hidden" name="sucursal" value="{{medicamento.sucursal}}">
                                    <input class="update-btn" type="submit" value="Actualizar">
                                </td>
                                <td>{{ medicamento.fecha_actu_stock }}</td>
                                <!-- <td><input type="submit" value="Actualizar"></td> -->                               

                            </tr>
                          </form>
                        {% endfor %}
                    </tbody>
                    
                </table>
                <br>
              </div>
                <div style="margin-top: 15px;">
                  <button  class="btn btn-primary" id="update-all-btn" onclick="updateAll()">Actualizar Stock</button>
                </div>

    </div>

    <style>
        @media only screen and (max-width: 600px) {
        .btn-primary {
                width: 80%;
                margin-top: 10px;
            }
        }

        .update-btn {
        display: none;
        }

        #lista{
        margin-bottom: 10%;

        }
        h3{
        padding: 0;
        margin: 0;      
        }
        h4{
          margin-top: 0;
          padding: 0;
        } 



               
    </style>
    
<script>

function updateAll() {
  const updateBtns = document.querySelectorAll('.update-btn');
  let i = 0;

  function update() {
    if (i < updateBtns.length) {
      updateBtns[i].click();
      i++;
      setTimeout(update, 150);
    }
  }
  update();
}

</script>
    
{% endblock %}