

{% extends 'base.html' %} {% block content %}
<div class="container text-center mt-5">
    <div>
        <label>Selecciona Sucursal:</label>
    </div>
    <form action="{% url 'diarioSucursal' %}" method="POST">
        {% csrf_token %}
        <select name="sucursal">
            {% for sucursal in sucursales %}
            <option value="{{ sucursal }}">{{ sucursal }}</option>
            {% endfor %}
        </select>
        <br><br><br>

        <input class="btn btn-primary" type="submit" value="Enviar">
    </form>
    
</div>

<style>
    .sticky-footer {
			position: fixed;
			bottom: 0;
			width: 100%;
		}
</style>

{% endblock %}