{% extends 'base.html' %} {% block content %}
    <div class="container text-center">
        <h1>Sucursales reporte</h1><br><br>
       <div>
        <a href="{% url 'reporteDiario' %}" button type="button" class="btn btn-primary" >Diario</button> </a>
        <button type="button" class="btn btn-primary" id="semanal" >Semanal</button>
       </div> 

        <div class="text-center mt-5">
            <a href="{% url 'signup' %}">Crear nuevo usuario</a>
        </div>

    </div>

    <style>
        @media only screen and (max-width: 600px) {
        .btn-primary {
                width: 80%;
                margin-top: 10px;
            }
        }

        .sticky-footer {
			position: fixed;
			bottom: 0;
			width: 100%;
		}
    </style>

<script>
    document.getElementById("semanal").addEventListener("click", function() {
    var d = new Date();
    var n = d.getDay(); //getDay devuelve el día de la semana (0-6)
    if (n == 1) { //5 es viernes
        console.log('correcto')
        window.location.href = "{% url 'reporteSemanal' %}";
    } else {
        alert("Esta acción solo está disponible los viernes");
    }
});

</script>

  
    
{% endblock %}